body{
  font-family: 'Helvetica', 'Arial', 'serif';
  background-color: #F5F5F5;
}

.form{
  width: 20rem;
  margin: 5rem auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 2rem;

  &__row{
    width: 100%;
    margin-bottom: 1rem;
    margin-left: -.5rem;
  }

  &__label{
    margin-bottom: .3rem;
  }

  &__label, &__input{
    display: block;
    width: 100%;
  }

  &__input{
    padding: .3rem .5rem;
  }

  &__result{
    font-size: 1.5rem;
    text-align: right;

    span{
      font-weight: bold;
    }
  }
}
